* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unna', serif;
}
body
{
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;

}
#calc
{
    width: 400px;
    padding: 0.5em;
    background-color: darkturquoise;
    color: black;
    display: flex;
    flex-direction: column;
}
#calc h3
{
font-size: .8em;
font-weight: 300;
color: aquamarine;
}
#operations{
    text-align: right;
}
#previous-operation{
    color: blue;
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}
#current-operation{
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
}
#buttons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
gap: 3px;
}
#buttons-container button 
{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: deepskyblue;
    cursor: pointer;
}

#buttons-container .number
{
    background-color: whitesmoke;
}
#buttons-container button:hover{
    background-color: rgb(12, 212, 230);
    border-color: rgb(0, 89, 255);
}
#buttons-container #equal-btn{
    grid-column: span 2;
    background-color: aquamarine;
}
#buttons-container #equal-btn:hover{
    background-color: rgb(52, 244, 209);

}